<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('routes.home') }}">Course Enrollment</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="{{ url_for('routes.home') }}" class="nav-link {% if home %}active{% endif %}">Home</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('routes.courses') }}" class="nav-link {% if courses %}active{% endif %}">Classes</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('routes.enrollment_page') }}" class="nav-link {% if enrollment %}active{% endif %}">Enrollment</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('routes.enroll_course') }}" class="nav-link {% if enroll %}active{% endif %}">Enroll</a>
      </li>

    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('routes.login') }}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('routes.register') }}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('routes.user') }}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-danger" href="{{ url_for('routes.logout') }}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
